{% extends 'mailing/base_message.html' %}
{% block message %}
<h1 class="mt-5">Список сообщений для рассылки</h1>
<a class="btn btn-primary mb-4" href="{% url 'mailing:create_message' %}" role="button">Написать сообщение</a>
<!--<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">-->
<!--    {% for message in object_list %}-->
<!--    <div class="col">-->
<!--        <div class="card mb-4 rounded-3 shadow-sm">-->
<!--            <div class="card-header py-3">-->
<!--                <h1 class="my-0 fw-normal">{{ message.title }}</h1>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h2 class="card-title pricing-card-title">{{ message.content }}</h2>-->
<!--                <a href="{% url 'mailing:message_detail' message.pk %}"-->
<!--                   class="btn btn-info">Просмотр сообщения</a>-->
<!--                <a href="{% url 'mailing:message_delete' message.pk %}"-->
<!--                   class="btn btn-danger">Удалить сообщение</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Заголовок сообщения</th>
        <th scope="col">Содержимое сообщения</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody class="table-group-divider">
    <tr>

        <th scope="row">{{ object.id }}</th>
        <td>{{ object.title }}</td>
        <td>{{ object.content }}</td>
        <td><a href="{% url 'mailing:client_detail' object.pk %}"
               class="btn btn-info">Просмотр сообщения</a>
            <a href="{% url 'mailing:update_client' object.pk %}"
               class="btn btn-secondary">Изменить сообщения</a>
            <a href="{% url 'mailing:client_delete' object.pk %}"
               class="btn btn-danger">Удалить сообщение</a></td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<p>Back to <a href="../examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
{% endblock %}